@import "values.styl"
@import "functions.styl"
@import "fade.styl"

html
  position: relative
  min-height: 100%

html, body
  margin: 0
  padding: 0

body
  font-family: sans-serif
  font-size: 16px

article
  margin-bottom: footer-height

article p
  margin: 15px

article h1
article h2
  margin: 10px

header
  color: header-color
  border-bottom: 1px solid #000
  height: header-height
  background: header-background

header img
  position: relative
  vertical-align: middle
  float: right
  padding-right: margin-content

header h1
  margin-left: 0.5em
  line-height: header-height
  display: inline

/*
 * footer
 */

footer
  color: footer-color
  border-top: 1px solid #000
  background: footer-background
  height: footer-height
  position: absolute
  bottom: 0
  left: 0
  right: 0

div.footer-container
  margin: 0
  width: 100%
  background: footer-background

div.footer-child
  height: 70%
  width: 33.33%
  float: left
  background: footer-background

div.footer-credit p.footer-credit
  display: block
  margin: 0
  height: 30%
  background: footer-background
  text-align: center

a.footer:link
  color: footer-color

a.footer:visited
  color: footer-color

a.footer:hover
  color: link-color-active

a.footer:active
  color: footer-color

/*
 * /footer
 */

h1 h2 h3 h4 h5 h6 p
  font-family: sans-serif

code
  background-color: #eee

li
  line-height: 1.5em

pre
  margin-left: 1em
  margin-right: 1em
  background-color: #eee
  padding: 0.5em
  white-space: pre-wrap; /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */

a:link
  color: link-color

a:visited
  color: link-color-visited

a:hover
  color: link-color-hover

a:active
  color: link-color-active

/* Contents tables on main contents page and detail page. */
table
  width: 99%
  margin: 0.5%
  table-layout: fixed
  white-space: nowrap
  border: table-border
  border-collapse: collapse
  border-spacing: 0
  box-shadow: box-shadow
  padding: 0.1em 0.25em

table.contents td
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  text-align: left
  padding-left: 0.5em

table.contents th
  background-color: table-heading-background-color
  text-align: left
  padding-left: 0.5em
  color: table-heading-foreground-color

/* Alternate row highlights for clarity */
table.contents tr:nth-child(even)
  background: rgba(0,0,0,0.05)

/* CONTENTS page */
table.contents th.packageid
  width: 10%

table.contents th.description
  width: 90%

/* DETAIL page */
table.contents th.photoid
  width: 10%

table.contents th.detail-poi
  width: 1%

table.contents th.notes
  width: 89%

/* Metadata table on detail page */
table.metadata td
  overflow: hidden
  text-overflow: ellipsis
  text-align: left
  padding-left: 0.5em

table.metadata td.metakey
  width: 10%
  background: table-heading-background-color
  color: table-heading-foreground-color
  font-weight: bold

table.metadata td.metaval
  width: 90%
