/* from encycolorpedia.com/008000 (Green) */
/* Unvisited link Revell 37161 (Green) */
/* Visited link Revell 37161 (Green) */
/* Mouse over link Revell 37130 (Red) */
/* Selected link  Revell 37112 (Yellow) */
link-color = #127826
link-color-visited = #127826
link-color-hover = #f23b1c
link-color-active = #ffd64d

header-background = #008fef
header-color = #fff
header-height = 100px
footer-background = header-background
footer-color = header-color
footer-height = 64px

table-heading-background-color = #606060
table-heading-foreground-color = #f0f0f0
table-border-color = #bbb
table-border = 1px solid table-border-color
box-shadow-color = #888
box-shadow = 0 0 1em box-shadow-color
